@tailwind base;
@tailwind components;
@tailwind utilities;

.article_dashboard {
    --tw-border-opacity: 1;
    border-color: rgb(14 116 144 / var(--tw-border-opacity));
    border-width: 2px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 18rem;
    transition: .2s;

}

.article_dashboard:hover {
    background-color: #0e7490;
}

/* OVERLAY LOADING */

.overlay_loader {
    background-color: #0e7490;
    opacity: .5%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100dvw !important;
    height: 100dvh !important;
}